body {
    margin-top: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

ul {
    text-align: center;
    /* border: solid; */
    width: 35%;
    margin: 0 auto; 
    padding-bottom: 10px;
}

li {
    list-style-type: none;
    text-align: left;
}

.js-options {
    /* border: solid black; */
    text-align: left; 
    margin: 0 auto;
    width: 45%;
    /* border: solid; */
}

input, label {
    /* border: solid blue; */
    margin: 5px;
}

.submit-button, .next-button {
    margin-top: 10px;
    /* border: solid salmon; */
}